<%= link_to  "Back", root_path %>
<%= link_to  "NEW", new_player_path %>

<table>
    <tr>
      <th>Nick Name</th>
      <th>Rank</th>
      <th>Charisma</th>
      <th>Wisdom</th>
    </tr>
   
    <% @players.each do |p| %>
      <tr>
        <td><%= link_to p.nickname, player_path(p) %></td>
        <td><%= p.rank %></td>
        <td><%= p.charisma %></td>
        <td><%= p.wisdom %></td>
        <td><%= link_to 'Edit', edit_player_path(p) %></td>
        <td><%= link_to 'Delete', player_path(p), method: :delete, data:{confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </table>