<%= link_to  "Back", player_index_path %>

<%= form_for @player, url: player_index_path do |form| %>
<p>
  <%= form.label :nickName %><br>
  <%= form.text_field :nickname %>
</p>
<p>
  <%= form.label :rank %><br>
  <%= form.text_field :rank %>
</p>
<p>
  <%= form.label :charisma %><br>
  <%= form.text_field :charisma %>
</p>
<p>
  <%= form.label :wisdom %><br>
  <%= form.text_field :wisdom %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>