<%= link_to  "Back", player_index_path %>
<p>
<strong>Name:</strong>
<%= @player.nickname %>
</p>
<p>
<strong>Rank:</strong>
<%= @player.rank %>
</p>
<p>
<strong>Charisma:</strong>
<%= @player.charisma %>
</p>
<p>
<strong>Wisdom:</strong>
<%= @player.wisdom %>
</p>